.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.guidelines {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
}

.examples {
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    
  align-items: center;
}

.left, .up, .down, .right {
  width: 40%;
  border: thin #c0c0c0 solid;
  padding: 10px;
}

img {
  width: 100%;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .guidelines {
    width: 100%;
    flex: 1 1;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
